<% unless @product_properties.empty? %>
  <div id="concepts">
    <div class="row" id="concepts-show-1">
      <div class="col-md-6 col-sm-6">
        <% unless @product_properties[0].property.presentation.empty? %>
          <h4 class="concept-title"> <%= @product_properties[0].property.name %></h4>
        <% end %>
        <p class="concept-text" id="concepto-principal">
          <%= @product_properties[0].value %>
        </p>
      </div>
      <div class="col-md-5 col-sm-6">
        <div id="image-container-1">
          <%# image_tag(main_app.url_for(@product.images[4].url(:product)), class: "concept-image") %>
          <% unless @product.images[4].nil? %>
            <%= image_tag(main_app.url_for(@product.images[4].attachment.variant(resize: "1000x1000")), class: "concept-image") %>
          <% end %>

        </div>
      </div>
    </div>
    <div class="row" id="concepts-show-2">
      <div class="col-md-6 col-sm-6">
        <div id="image-container-2">
          <%# image_tag(main_app.url_for(@product.images[5].url(:product)), class: "concept-image") %>
          <% unless @product.images[5].nil? %>
            <%=   image_tag(main_app.url_for(@product.images[5].attachment.variant(resize: "1000x1000")), class: "concept-image") %>
          <% end %>

        </div>

      </div>
      <div class="col-md-6 col-sm-6">
        <% unless @product_properties[1].property.presentation.empty? %>
          <h4 class="concept-title"> <%= @product_properties[1].property.name %></h4>
        <% end %>
        <p class="concept-text" id="concepto-principal">
          <%= @product_properties[1].value %>
        </p>
      </div>
    </div>
  </div>
<% end %>
<div class="separator"></div>
