<% unless @product_properties.empty? %>
  <div id="features">
    <div class="row" id="feature-title">
      <div>
        <h2 class="feature-title">
          Características
        </h2>
      </div>
    </div>
    <div class="row" id="feature-list">
      <div class="col-md-6 col-sm-12 feature">
        <h4 class="concept-subtitle">
          <%= @product_properties[2].property.name %>
        </h4>
        <p class="concept-text">
          <%= @product_properties[2].value %>
        </p>
      </div>
      <div class="col-md-6 col-sm-12 feature">
        <h4 class="concept-subtitle">
          <%= @product_properties[3].property.name %>
        </h4>
        <p class="concept-text">
          <%= @product_properties[3].value %>
        </p>
      </div>
      <div class="col-md-6 col-sm-12 feature">
        <h4 class="concept-subtitle">
          <%= @product_properties[4].property.name %>
        </h4>
        <p class="concept-text">
          <%= @product_properties[4].value %>
        </p>
      </div>
      <div class="col-md-6 col-sm-12 feature">
        <h4 class="concept-subtitle">
          <%= @product_properties[5].property.name %>
        </h4>
        <p class="concept-text">
          <%= @product_properties[5].value %>
        </p>
      </div>
      <div class="col-md-6 col-sm-12 feature">
        <h4 class="concept-subtitle">
          <%= @product_properties[6].property.name %>
        </h4>
        <p class="concept-text">
          <%= @product_properties[6].value %>
        </p>
      </div>
      <div class="col-md-6 col-sm-12 feature">
        <h4 class="concept-subtitle">
          <%= @product_properties[7].property.name %>
        </h4>
        <p class="concept-text">
          <%= @product_properties[7].value %>
        </p>
      </div>
    </div>
  </div>
<% end %>
