<% url = spree.product_path(product, taxon_id: taxon.try(:id)) %>

<div id="product_<%= product.id %>" class="product-list-item product" data-hook="products_list_item" itemscope itemtype="https://schema.org/Product">
  <div class="panel panel-default">
    <% cache(taxon.present? ? [I18n.locale, current_currency, taxon, product] : cache_key_for_product(product)) do %>
      <div class="panel-body text-center product-body">
        <%= link_to url, itemprop: "url" do %>
          <%# product_image(product, itemprop: "image", class: 'product-image-home') %>
          <%= image_tag(main_app.url_for(product.images.first.attachment.variant(resize: '150x150')), class: "product-image-home product-img-1") %>
          <% if product.images.second %>
            <%= image_tag(main_app.url_for(product.images.second.attachment.variant(resize: '150x150')), class: "product-image-home product-img-2")  %>
          <% end %>
          <br/>
        <% end %>
        <br/>
      </div>
      <div class="product-name">
        <%= link_to url, itemprop: "url" do %>
          <%= content_tag(:span, truncate(product.name, length: 50), class: 'info', itemprop: "name", title: product.name) %>
        <% end %>
      </div>
      <div class="product-button">
        <button> Ver más </button>
      </div>
    <% end %>
  </div>
</div>
