<%# max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>
<%# @taxonomies.each do |taxonomy| %>
  <%# cache [I18n.locale, taxonomy, max_level, @taxon] do %>
    <%# if taxonomy.root.children.any? %>
      <%# taxons_tree(taxonomy.root, @taxon, 3) %>
    <%# end %>
  <%# end %>
<%# end %>

<% root_taxon = Spree::Taxon.find_by(name: "Categorias") %>
<% taxons = root_taxon.children.map %>
<%# css_class = @taxon && @taxon.self_and_ancestors.include?(@taxon) ? 'in' : '' %>
<%# expanded = @taxon && @taxon.self_and_ancestors.include?(@taxon) ? 'true' : 'false' %>
<%# style = @taxon && @taxon.self_and_ancestors.include?(@taxon) ? ' ' : 'height:0px;' %>
<%# abort %>
<div class="panel-title" id="sidebar-title">
  CATEGORÍAS
</div>
<%= content_tag :div, class: 'panel-group', "role" => "tablist", "aria-multiselectable" => "true", id: "accordion-#{root_taxon.id}" do  %>
  <% root_taxon.children.map do |t|  %>
    <% css_class = @taxon && @taxon.self_and_ancestors.include?(t) ? 'in' : '' %>
    <% red_class = @taxon && @taxon.self_and_ancestors.include?(t) ? ' active-taxon' : ' no-active-taxon' %>
    <% expanded = @taxon && @taxon.self_and_ancestors.include?(t) ? 'true' : 'false' %>
    <% style = @taxon && @taxon.self_and_ancestors.include?(t) ? ' ' : 'height:0px;' %>
    <%= content_tag :div, class: 'panel panel-default' do  %>
      <%= content_tag :div, class: 'panel-heading', "role" => "tab", id: "heading-#{t.id}" do  %>
        <%= content_tag :h4, class: 'panel-title' do %>
          <% int_url = t.children.empty? ? seo_url(t) : "#collapse-#{t.id}" %>
          <% toggle = t.children.empty? ? ' ' : "collapse" %>
          <% last = t.children.empty? ? 'lower-level middle-category' : 'middle-category' %>
          <% url = seo_url(t) %>
          <%= link_to(t.name, int_url, class: last + red_class,"role" => "button", "data-toggle" => toggle, "data-parent" => "#accordion-#{root_taxon.id}", "aria-expanded" => expanded, "aria-controls" => "collapse-#{t.id}", "aria-value" => url)  %>
          <% unless t.children.empty? %>
            <%# link_to("", class: last + red_class + " arrow-elem", "role" => "button", "data-toggle" => toggle, "data-parent" => "#accordion-#{root_taxon.id}", "aria-expanded" => expanded, "aria-controls" => "collapse-#{t.id}", "aria-value" => url) do %>
              <%= content_tag(:span, " ",class: "no-expanded-icon more-icon glyphicon glyphicon-chevron-down", "aria-hidden" => "true") %>
              <%= content_tag(:span, " ",class: "expanded-icon more-icon glyphicon glyphicon-minus", "aria-hidden" => "true") %>
            <%# end %>
          <% end %>
        <% end  %>
      <% end %>
      <% unless t.children.empty? %>
        <%= content_tag :div, class: "panel-collapse collapse #{css_class}", "role" => "tabpanel", "aria-labelledby" => "heading-#{t.id}", id: "collapse-#{t.id}" do %>
          <%= content_tag :div, class: 'panel-body' do %>
            <%= content_tag :div, class: 'panel-group', id: "accordion-#{t.id}", "role" => "tablist", "aria-multiselectable" => "true" do %>
              <% t.children.map do |child_taxon| %>
                <% css_class = @taxon && @taxon.self_and_ancestors.include?(child_taxon) ? 'in' : '' %>
                <% red_class = @taxon && @taxon.self_and_ancestors.include?(child_taxon) ? ' active-taxon' : ' no-active-taxon' %>
                <% expanded = @taxon && @taxon.self_and_ancestors.include?(child_taxon) ? 'true' : 'false' %>
                <% style = @taxon && @taxon.self_and_ancestors.include?(child_taxon) ? ' ' : 'height:0px;' %>
                <%= content_tag :div, class: 'panel panel-default' do %>
                  <%= content_tag :div, class: 'second-level-taxon panel-heading', "role" => "tab", id: "heading-#{child_taxon.id}" do %>
                    <%= content_tag :h4, class: 'panel-title' do %>
                      <% int_url = child_taxon.children.empty? ? seo_url(child_taxon) : "#collapse-#{child_taxon.id}" %>
                      <% toggle = child_taxon.children.empty? ? ' ' : "collapse" %>
                      <% last = child_taxon.children.empty? ? 'lower-level middle-category' : 'middle-category' %>
                      <% url = seo_url(child_taxon) %>
                      <%= link_to(child_taxon.name, int_url, class: last + red_class, "role" => "button", "data-toggle" => toggle, "data-parent" => "#accordion-#{t.id}", "aria-expanded" => expanded, "aria-controls" => "collapse-#{root_taxon.id}", "aria-value" => url) %>
                      <% unless child_taxon.children.empty? %>
                        <%= content_tag(:span, " ",class: "no-expanded-icon more-icon glyphicon glyphicon-chevron-down", "aria-hidden" => "true")  %>
                        <%= content_tag(:span, " ",class: "expanded-icon more-icon glyphicon glyphicon-minus", "aria-hidden" => "true") %>
                      <% end %>
                    <% end %>
                  <% end %>
                  <% unless child_taxon.children.empty? %>
                    <%= content_tag :div, class: "panel-collapse collapse #{css_class}", "role" => "tabpanel", "aria-labelledby" => "heading-#{child_taxon.id}", id: "collapse-#{child_taxon.id}" do %>
                      <%= content_tag :div, class: 'panel-body' do %>
                        <% child_taxon.children.map do |lower_taxon| %>
                          <% red_class = @taxon && @taxon.self_and_ancestors.include?(lower_taxon) ? ' active-taxon' : ' no-active-taxon' %>
                          <%= content_tag :div, class: 'last-level-taxon panel-heading', "role" => "tab", id: "heading-#{lower_taxon.id}" do %>
                            <%= content_tag :h4, class: 'panel-title' do %>
                              <%= link_to(lower_taxon.name, seo_url(lower_taxon), class: "lower-level" + red_class, "role" => "button", "data-parent" => "#accordion-#{t.id}", "aria-expanded" => "false", "aria-controls" => "collapse-#{root_taxon.id}" ) %>
                            <% end %>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<script type="text/javascript">
  // $(document).ready(function(){
    // let links = document.getElementsByClassName("arrow-elem");
    // let links = $(".arrow-elem");
    // console.log("LINK " + JSON.stringify(links));
    // console.log("LINK[0] " + links[0]);
    // for (let item of links) {
      // console.log("ITEM " + item);
      // item.addEventListener("click", function() {
      //   item.preventDefault();
      //   console.log("PTOATO");
  //     });
  //   }
  // });
</script>
