<% content_for :head do -%>
  <meta name="title" content="<%= Spree.t(:contact_us_title) %>">
<% end -%>

<div class="col-md-6">
  <div class="contact-information">
    <h2 class="contact-title">
      Venta de Productos
    </h2>
    <span class="contact-specific">
      Calle: Luis María Drago 148 C1414AID. Ciudad Autónoma de Buenos Aires
    </span>
    <span class="contact-specific">
      Tel/Fax (+5411) 4857 5027 / 4854 4473
    </span>
    <span class="contact-specific">
      E-mail: info@accesoriosypartes.com.ar
    </span>
    <div class="contact-map">

    </div>
  </div>
  <div class="contact-information">
    <h2 class="contact-title">
      OFICINA TÉCNICO-COMERCIAL / SHOWROOM
    </h2>
    <span class="contact-specific">
      Calle: Boulevard del Mirador 220, Local 1. Bahía Grande, Nordelta, Tigre (Ruta 27).
    </span>
    <span class="contact-specific">
      Tel/Fax (+5411) 4871 3666 (DOMO)
    </span>
    <span class="contact-specific">
      E-mail: info@intelhome.com.ar
    </span>
    <div class="contact-map">

    </div>
  </div>
  <div class="contact-information">
    <h2 class="contact-title">
      OFICINA TÉCNICO-COMERCIAL / SHOWROOM
    </h2>
    <span class="contact-specific">
      Comuicate al 0810-444-3666 (DOMO)
    </span>
  </div>
</div>
<div class="col-md-6">
  <div class="contact-title">
    Formulario de contacto
  </div>
  <p class="contact-message">
    Escríbanos un mensaje, le responderemos a la brevedad.
  </p>
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @contact } %>

  <%= form_for @contact, :url => contacts_path, :html => { :novalidate => '' } do |f| %>
    <% if SpreeContactUs.require_name %>
      <p>
        <%= f.label :name, "Nombre", class: "label-nombre" %>
        <span class="required">*</span><br/>
        <%= f.text_field :name, class: 'required form-control contacto-nombre' %>
      </p>
    <% end %>
    <p>
      <%= f.label :email, "Correo Electrónico", class: "label-email" %>
      <span class="required">*</span><br/>
      <%= f.email_field :email, class: 'required form-control email contacto-email' %>
    </p>
    <% if SpreeContactUs.require_subject %>
      <p>
        <%= f.label :subject, "Número de Teléfono", class: "label-numero" %>
        <span class="required">*</span><br/>
        <%= f.text_field :subject, class: 'required form-control contacto-numero' %>
      </p>
    <% end %>
    <p>
      <%= f.label :message, "Mensaje", class: 'label-mensaje' %>
      <span class="required">*</span><br/>
      <%= f.text_area :message, class: 'required form-control contacto-mensaje' %>
    </p>
    <p>
      <%= f.submit "Enviar", :alt => Spree.t(:submit), :id => 'contact_us_contact_submit', :title => Spree.t(:submit) %>
    </p>
  <% end %>
</div>
