<div class="clients-container container-fluid">
  <div class="clients-slider">
    <div class="client client-01" id="client-01" style="width: 174.5px !important">
      <%= image_tag("Monsanto 2 Paint.jpg", id: "client-logo-1", class: "client-img") %>
    </div>
    <div class="client client-02" id="client-02" style="width: 284.5px !important">
      <%= image_tag("Presidencia 2 Paint.jpg", id: "client-logo-2", class: "client-img") %>
    </div>
    <div class="client client-03" id="client-03" style="width: 105.8px !important">
      <%= image_tag("Trenes 2 Paint.jpg", id: "client-logo-3", class: "client-img") %>
    </div>
    <div class="client client-04" id="client-04" style="width: 121px !important">
      <%= image_tag("ALE 2 Paint.jpg", id: "client-logo-4", class: "client-img") %>
    </div>
    <div class="client client-05" id="client-05" style="width: 50px !important">
      <%= image_tag("Amex Paint.jpg", id: "client-logo-5", class: "client-img") %>
    </div>
    <div class="client client-06" id="client-06" style="width: 50px !important">
      <%= image_tag("BK Paint.jpg", id: "client-logo-6", class: "client-img") %>
    </div>
    <div class="client client-07" id="client-07" style="width: 77px !important">
      <%= image_tag("Coto Paint.jpg", id: "client-logo-7", class: "client-img") %>
    </div>
    <div class="client client-08" id="client-08" style="width: 132.5px !important">
      <%= image_tag("GCBA 2 Paint.jpg", id: "client-logo-8", class: "client-img") %>
    </div>
    <div class="client client-09" id="client-09" style="width: 119.5px !important">
      <%= image_tag("Kosiuko 2 Paint.jpg", id: "client-logo-9", class: "client-img") %>
    </div>
    <div class="client client-10" id="client-10" style="width: 50px !important">
      <%= image_tag("KWS Paint.jpg", id: "client-logo-10", class: "client-img") %>
    </div>
    <div class="client client-11" id="client-11" style="width: 50px !important">
      <%= image_tag("Starbucks Paint.jpg", id: "client-logo-11", class: "client-img") %>
    </div>
    <div class="client client-12" id="client-12" style="width: 79.5px !important">
      <%= image_tag("Bago Paint.jpg", id: "client-logo-", class: "client-img") %>
    </div>
    <div class="client client-13" id="client-13" style="width: 126px !important">
      <%= image_tag("Brinks 2 Paint.jpg", id: "client-logo-13", class: "client-img") %>
    </div>
    <div class="client client-14" id="client-14" style="width: 66.5px !important">
      <%= image_tag("Carre Paint.jpg", id: "client-logo-14", class: "client-img") %>
    </div>
    <div class="client client-15" id="client-15" style="width: 44.5px !important">
      <%= image_tag("CNEA Paint.jpg", id: "client-logo-15", class: "client-img") %>
    </div>
    <div class="client client-16" id="client-16" style="width: 50px !important">
      <%= image_tag("Coppel Paint.jpg", id: "client-logo-16", class: "client-img") %>
    </div>
    <div class="client client-17" id="client-17" style="width: 126.5px !important">
      <%= image_tag("CS 2 Paint.jpg", id: "client-logo-17", class: "client-img") %>
    </div>
    <div class="client client-18" id="client-18" style="width: 90px !important">
      <%= image_tag("Dema 2 Paint.jpg", id: "client-logo-18", class: "client-img") %>
    </div>
    <div class="client client-19" id="client-19" style="width: 88px !important">
      <%= image_tag("Faena Paint.jpg", id: "client-logo-19", class: "client-img") %>
    </div>
    <div class="client client-20" id="client-20" style="width: 101px !important">
      <%= image_tag("Femsa 2 Paint.jpg", id: "client-logo-20", class: "client-img") %>
    </div>
    <div class="client client-21" id="client-21" style="width: 68.5px !important">
      <%= image_tag("HI 2 Paint.jpg", id: "client-logo-21", class: "client-img") %>
    </div>
    <div class="client client-22" id="client-22" style="width: 105px !important">
      <%= image_tag("Incaa 2 Paint.jpg", id: "client-logo-22", class: "client-img") %>
    </div>
    <div class="client client-23" id="client-23" style="width: 167.5px !important">
      <%= image_tag("Michelin Paint.jpg", id: "client-logo-23", class: "client-img") %>
    </div>
    <div class="client client-24" id="client-24" style="width: 64px !important">
      <%= image_tag("Moreno Mun 2 Paint.jpg", id: "client-logo-24", class: "client-img") %>
    </div>
    <div class="client client-25" id="client-25" style="width: 88.5px !important">
      <%= image_tag("PAE 2 Paint.jpg", id: "client-logo-25", class: "client-img") %>
    </div>
    <div class="client client-26" id="client-26" style="width: 126px !important">
      <%= image_tag("Rubinat Paint.jpg", id: "client-logo-26", class: "client-img") %>
    </div>
    <div class="client client-27" id="client-27" style="width: 103px !important">
      <%= image_tag("San Martin 2 Paint.jpg", id: "client-logo-27", class: "client-img") %>
    </div>
    <div class="client client-28" id="client-28" style="width: 52.5px !important">
      <%= image_tag("Senado Paint.jpg", id: "client-logo-28", class: "client-img") %>
    </div>
    <div class="client client-29" id="client-29" style="width: 86.5px !important">
      <%= image_tag("UCA 2 Paint.jpg", id: "client-logo-29", class: "client-img") %>
    </div>
    <div class="client client-30" id="client-30" style="width: 101px !important">
      <%= image_tag("Maimonides 2 Paint.jpg", id: "client-logo-30", class: "client-img") %>
    </div>
    <div class="client client-31" id="client-31" style="width: 97px !important">
      <%= image_tag("UNSA 2 Paint.jpg", id: "client-logo-31", class: "client-img") %>
    </div>
    <div class="client client-32" id="client-32" style="width: 97.5px !important">
      <%= image_tag("VIU 2 Paint.jpg", id: "client-logo-32", class: "client-img") %>
    </div>
  </div>
  <div class="clients-title">
    <h2>
      NUESTROS CLIENTES
    </h2>
  </div>
</div>
