<div class="collage-container container-fluid">
  <div class="collage-subcontainer-main">
    <div class="collage-link-container" id="cat-uno">
      <% taxon = Spree::Taxon.find_by(name: 'Sillas y Sillones') %>
      <%= link_to 'Sillas y Sillones', seo_url(taxon), class: 'collage-link' unless taxon.nil? %>
      <%= image_tag("cat_uno.jpg", class: "collage-img") %>
    </div>
    <div class="row collage-image-row">
      <div class="collage-link-container" id="cat-dos">
        <% taxon = Spree::Taxon.find_by(name: 'Audio, Video y Multimedia') %>
        <%= link_to 'Salas multimedia', seo_url(taxon), class: 'collage-link' unless taxon.nil? %>
        <%= image_tag("cat_dos.jpg", class: "collage-img") %>
      </div>
    </div>
    <div class="collage-link-container" id="cat-tres">
      <% taxon = Spree::Taxon.find_by(name: 'Diseño de Interior') %>
      <%= link_to 'Diseño interior', seo_url(taxon), class: 'collage-link' unless taxon.nil? %>
      <%= image_tag("cat_tres.jpg", class: "collage-img") %>
    </div>
    <div class="collage-link-container" id="cat-cuatro">
      <% taxon = Spree::Taxon.find_by(name: 'Audio, Video y Multimedia') %>
      <%= link_to 'Audio y video', seo_url(taxon), class: 'collage-link' unless taxon.nil? %>
      <%= image_tag("cat_cuatro.jpg", class: "collage-img") %>
    </div>
    <div class="collage-link-container" id="cat-cinco">
      <% taxon = Spree::Taxon.find_by(name: 'Control de Acceso') %>
      <%= link_to 'Control de acceso', seo_url(taxon), class: 'collage-link' unless taxon.nil? %>
      <%= image_tag("cat_cinco.jpg", class: "collage-img") %>
    </div>
    <div class="collage-link-container" id="cat-seis">
      <% taxon = Spree::Taxon.find_by(name: 'Muebles de Oficina') %>
      <%= link_to 'Muebles de oficina', seo_url(taxon), class: 'collage-link' unless taxon.nil? %>
      <%= image_tag("cat_seis.jpg", class: "collage-img") %>
    </div>
    <div class="collage-link-container" id="cat-siete">
      <% taxon = Spree::Taxon.find_by(name: 'Domótica y Control') %>
      <%= link_to 'Casas inteligentes', seo_url(taxon), class: 'collage-link' unless taxon.nil? %>
      <%= image_tag("cat_siete.jpg", class: "collage-img") %>
    </div>
  </div>
</div>
