<div class="companies-slider">
  <div class="companies-conveyor container-fluid">
    <div class="company">
      <%= image_tag("a2.jpg", id: "logo-1", class: "company-img")  %>
    </div>
    <div class="company">
      <%= image_tag("Samsung.jpg", id: "logo-2", class: "company-img")  %>
    </div>
    <div class="company">
      <%= image_tag("Flos.jpg", id: "logo-3", class: "company-img") %>
    </div>
    <div class="company">
      <%= image_tag("Lutron.jpg", id: "logo-4", class: "company-img") %>
    </div>
    <div class="company">
      <%= image_tag("Riel Americano.jpg", id: "logo-5", class: "company-img") %>
    </div>
    <div class="company">
      <%= image_tag("Maico.jpg", id: "logo-6", class: "company-img") %>
    </div>
    <div class="company">
      <img class="company-img" id="logo-7" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/intelhome.jpg" alt="">
    </div>
    <div class="company">
      <%= image_tag("Tubo Argentina.jpg", id: "logo-8", class: "company-img") %>
    </div>
    <div class="company">
      <%= image_tag("Vimar.jpg", id: "logo-9", class: "company-img") %>
    </div>
    <div class="company">
      <%= image_tag("Yamaha.jpg", id: "logo-10", class: "company-img") %>
    </div>
  </div>
  <div class="companies-slider-sub container-fluid">

    <div class="company">
      <%= image_tag("Dahua.jpg", id: "sub-logo-2", class: "company-img-sub") %>
    </div>
    <div class="company">
      <%= image_tag("Domus.jpg", id: "sub-logo-3", class: "company-img-sub") %>
    </div>
    <div class="company">
      <%= image_tag("Solatube.jpg", id: "sub-logo-31", class: "company-img-sub") %>
    </div>
    <div class="company">
      <%= image_tag("Epson.jpg", id: "sub-logo-5", class: "company-img-sub") %>
    </div>
    <div class="company">
      <%= image_tag("ZKTeco.jpg", id: "sub-logo-6", class: "company-img-sub") %>
    </div>
    <div class="company">
      <%= image_tag("Elicent.jpg", id: "sub-logo-7", class: "company-img-sub") %>
    </div>
    <div class="company">
      <%= image_tag("Dynair.jpg", id: "sub-logo-8", class: "company-img-sub") %>
    </div>
    <div class="company">
      <%= image_tag("Aertecnica.jpg", id: "sub-logo-10", class: "company-img-sub") %>
    </div>
    <div class="company">
      <%= image_tag("VRoom.jpg", id: "sub-logo-11", class: "company-img-sub") %>
    </div>
    <div class="company">
      <%= image_tag("iClebo.jpg", id: "sub-logo-1", class: "company-img-sub") %>
    </div>
    <div class="company">
      <%= image_tag("Ritello.jpg", id: "sub-logo-4", class: "company-img-sub") %>
    </div>
    <div class="company">
      <%= image_tag("Dumont.jpg", id: "sub-logo-9", class: "company-img-sub") %>
    </div>
    <div class="company">
      <%= image_tag("B_W.jpg", id: "sub-logo-12", class: "company-img-sub") %>
    </div>
    <div class="company">
      <%= image_tag("Bose.jpg", id: "sub-logo-13", class: "company-img-sub") %>
    </div>
    <div class="company">
      <%= image_tag("Mau.jpg", id: "sub-logo-14", class: "company-img-sub") %>
    </div>
    <div class="company">
      <%= image_tag("Dali.jpg", id: "sub-logo-15", class: "company-img-sub") %>
    </div>
    <div class="company">
      <%= image_tag("Jbl.jpg", id: "sub-logo-16", class: "company-img-sub") %>
    </div>
    <div class="company">
      <%= image_tag("Infinity.jpg", id: "sub-logo-17", class: "company-img-sub") %>
    </div>
    <div class="company">
      <%= image_tag("Denon.jpg", id: "sub-logo-18", class: "company-img-sub") %>
    </div>
    <div class="company">
      <%= image_tag("Onkio.jpg", id: "sub-logo-19", class: "company-img-sub") %>
    </div>
    <div class="company">
      <%= image_tag("Shure.jpg", id: "sub-logo-21", class: "company-img-sub") %>
    </div>
    <div class="company">
      <%= image_tag("Sonos.jpg", id: "sub-logo-21", class: "company-img-sub") %>
    </div>
    <div class="company">
      <%= image_tag("i3.jpg", id: "sub-logo-22", class: "company-img-sub") %>
    </div>
    <div class="company">
      <%= image_tag("Kramer.jpg", id: "sub-logo-23", class: "company-img-sub") %>
    </div>
    <div class="company">
      <%= image_tag("Logitech.jpg", id: "sub-logo-24", class: "company-img-sub") %>
    </div>
    <div class="company">
      <%= image_tag("TouchOne.jpg", id: "sub-logo-25", class: "company-img-sub") %>
    </div>
    <div class="company">
      <%= image_tag("Polycom.jpg", id: "sub-logo-26", class: "company-img-sub") %>
    </div>
    <div class="company">
      <%= image_tag("Jabra.jpg", id: "sub-logo-27", class: "company-img-sub") %>
    </div>
    <div class="company">
      <%= image_tag("Portantino.jpg", id: "sub-logo-28", class: "company-img-sub") %>
    </div>
    <div class="company">
      <%= image_tag("Interstuhl.jpg", id: "sub-logo-29", class: "company-img-sub") %>
    </div>
    <div class="company">
      <%= image_tag("Actiu.jpg", id: "sub-logo-30", class: "company-img-sub") %>
    </div>
    <!-- <div class="company">
    <img src="" alt="" class="company-img-sub">
    </div>
    <div class="company">
    <img src="" alt="" class="company-img-sub">
    </div>
    <div class="company">
    <img src="" alt="" class="company-img-sub">
    </div>
    <div class="company">
    <img src="" alt="" class="company-img-sub">
    </div>
    <div class="company">
    <img src="" alt="" class="company-img-sub">
    </div>
    <div class="company">
    <img src="" alt="" class="company-img-sub">
    </div>
    <div class="company">
    <img src="" alt="" class="company-img-sub">
    </div> -->
  </div>
</div>
