<!-- <div class="row second-header-container">
  <nav class="col-md-7">
    <div id="main-nav-bar" class="menu-wrapper collapse navbar-collapse navbar">
      <ul class="nav navbar-nav nav-main desenfoque" data-hook>
        <li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
        <li id="catalogue-link" class="dropdown" data-hook>
          <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            &nbsp;&nbsp;CATÁLOGO&nbsp;&nbsp;
          </a>
          <ul class="dropdown-menu first">
            <li class="dropdown-submenu second-level">
              <a class="sub-link" href="#">Audio, Video y Multimedia</a>
              <ul class="dropdown-menu submenu-container" id="audio-video">
                <div class="submenu-links">
                  <li><a href="https://www.accesoriosypartes.com.ar/sitio-en-construccion">Sintoamplificadores y potencias</a></li>
                  <li><a href="https://www.accesoriosypartes.com.ar/sitio-en-construccion">Parlantes</a></li>
                  <li><a href="https://www.accesoriosypartes.com.ar/sitio-en-construccion">Microfonos y auriculares</a></li>
                  <li><a href="https://www.accesoriosypartes.com.ar/sitio-en-construccion">Proyectores y pantallas</a></li>
                  <li><a href="https://www.accesoriosypartes.com.ar/sitio-en-construccion">Multimedia</a></li>
                  <li><a href="https://www.accesoriosypartes.com.ar/sitio-en-construccion">Accesorios A/V</a></li>
                </div>
                <div class="submenu-img">
                  <div>
                    <img src="https://accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/prueba_menu.jpg" alt="">
                  </div>
                </div>
              </ul>
            </li>
            <li class="dropdown-submenu second-level">
              <a href="#">Domótica y Control</a>
              <ul class="dropdown-menu submenu-container">
                <div class="submenu-links">
                  <li><a href="https://www.accesoriosypartes.com.ar/sitio-en-construccion">Casas inteligentes</a></li>
                  <li><a href="https://www.accesoriosypartes.com.ar/sitio-en-construccion">Eficiencia energética</a></li>
                  <li><a href="https://www.accesoriosypartes.com.ar/sitio-en-construccion">Limpieza inteligente - Tubó</a></li>
                  <li><a href="https://www.accesoriosypartes.com.ar/sitio-en-construccion">Robótica sanitaria</a></li>
                </div>
                <div class="submenu-img">
                  <div>
                    <img src="https://accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/prueba_menu.jpg" alt="">
                  </div>
                </div>
              </ul>
            </li>
            <li class="dropdown-submenu second-level">
              <a href="#">Limpieza Inteligente</a>

            </li>
            <li class="dropdown-submenu second-level">
              <a href="#">Control de Acceso</a>
              <ul class="dropdown-menu submenu-container">
                <div class="submenu-links">
                  <li><a href="https://www.accesoriosypartes.com.ar/sitio-en-construccion">Cerraduras digitales</a></li>
                  <li><a href="https://www.accesoriosypartes.com.ar/sitio-en-construccion">Administración del personal - Reloj</a></li>
                  <li><a href="https://www.accesoriosypartes.com.ar/sitio-en-construccion">Porteros visor y acceso</a></li>
                  <li><a href="https://www.accesoriosypartes.com.ar/sitio-en-construccion">Cámaras y CCTV</a></li>
                </div>
                <div class="submenu-img">
                  <div>
                    <img src="https://accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/prueba_menu.jpg" alt="">
                  </div>
                </div>
              </ul>
            </li>
            <li class="dropdown-submenu second-level">
              <a href="#">Muebles y Sillas</a>
            </li>
            <li class="dropdown-submenu second-level">
              <a href="#">Diseño de Interior</a>
            </li>
            <li class="dropdown-submenu second-level">
              <a href="#">Instalaciones</a></li>
          </ul>
        </li>
        <li id="service-link" data-hook>
          <a href="#">&nbsp;&nbsp;SERVICIOS&nbsp;&nbsp;</a>
        </li>
        <li id="company-link" data-hook>
          <a href="#">&nbsp;&nbsp;EMPRESA&nbsp;&nbsp;</a>
        </li>
        <li id="blog-link" data-hook>
          <a href="#">&nbsp;&nbsp;BLOG&nbsp;&nbsp;</a>
        </li>
        <li id="contact-link" data-hook>
          <a href="https://www.accesoriosypartes.com.ar/contacto">&nbsp;&nbsp;CONTACTO&nbsp;&nbsp;</a>
        </li>
      </ul> AQUI TERMINA-->
          <!-- <ul class="nav navbar-nav navbar-right" data-hook>
          <li id="link-to-cart" data-hook>
          <noscript>
          <%= link_to_cart %>
        </noscript>
        &nbsp;
      </li>
      <script>Spree.fetch_cart()</script>
    </ul> -->
    <!-- AQUI COMIENZA </div>
  </nav>
  <div class="col-md-5">
    <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook>
      <li id="search-bar" data-hook>
        <%# render partial: 'spree/shared/search' %>
      </li>
    </ul>
  </div>
</div> -->
<div class="row second-header-container">
  <nav class="col-md-7 navbar visible-md visible-lg visible-sm">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
          <span class="sr-only">Menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="navigationbar">
        <ul class="nav navbar-nav nav-main visible-md visible-lg desenfoque">
          <li class="dropdown">
            <a href="https://www.accesoriosypartes.com.ar" class="menu3" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              &nbsp;&nbsp;HOME&nbsp;&nbsp;
            </a>
          </li>
          <li class="dropdown" id="catalogue-link">
            <a href="#" class="menu3" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              &nbsp;&nbsp;CATÁLOGO&nbsp;&nbsp;
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-submenu second-level"><a href="#">Audio, Video y Multimedia</a>
                <ul class="dropdown-menu submenu-container">
                  <div class="submenu-links">
                    <li>
                      <a href="https://www.accesoriosypartes.com.ar/sitio-en-construccion">
                        Sintoamplificadores y potencias
                      </a>
                    </li>
                    <li>
                      <a href="https://www.accesoriosypartes.com.ar/sitio-en-construccion">
                        Parlantes
                      </a>
                    </li>
                    <li>
                      <a href="https://www.accesoriosypartes.com.ar/sitio-en-construccion">
                        Micrófonos y auriculares
                      </a>
                    </li>
                    <li>
                      <a href="https://www.accesoriosypartes.com.ar/sitio-en-construccion">
                        Proyectores y pantallas
                      </a>
                    </li>
                    <li>
                      <a href="https://www.accesoriosypartes.com.ar/sitio-en-construccion">
                        Multimedia
                      </a>
                    </li>
                    <li>
                      <a href="https://www.accesoriosypartes.com.ar/sitio-en-construccion">
                        Accesorios A/V
                      </a>
                    </li>
                  </div>
                  <div class="submenu-img">
                    <div>
                      <%= image_tag("audio-y-video.jpg") %>
                    </div>
                  </div>
                </ul>
              </li>
              <li class="dropdown-submenu second-level">
                <a href="#">
                  Domótica y control
                </a>
                <ul class="dropdown-menu submenu-container">
                  <div class="submenu-links">
                    <li>
                      <a href="https://www.accesoriosypartes.com.ar/sitio-en-construccion">
                        Casas inteligentes
                      </a>
                    </li>
                    <li>
                      <a href="https://www.accesoriosypartes.com.ar/sitio-en-construccion">
                        Eficiencia energética
                      </a>
                    </li>
                    <li>
                      <a href="https://www.accesoriosypartes.com.ar/sitio-en-construccion">
                        Limpieza inteligente - Tubó
                      </a>
                    </li>
                    <li>
                      <a href="https://www.accesoriosypartes.com.ar/sitio-en-construccion">
                        Robótica sanitaria
                      </a>
                    </li>
                  </div>
                  <div class="submenu-img">
                    <div>
                      <!-- <img src="https://accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/prueba_menu.jpg" alt=""> -->
                      <%= image_tag("domotica-y-control-2.jpg") %>
                    </div>
                  </div>
                </ul>
              </li>
              <li class="second-level">
                <a href="#">
                  Limpieza Inteligente
                </a>
              </li>
              <li class="dropdown-submenu second-level">
                <a href="#">
                  Control de acceso
                </a>
                <ul class="dropdown-menu submenu-container">
                  <div class="submenu-links">
                    <li>
                      <a href="https://www.accesoriosypartes.com.ar/sitio-en-construccion">
                        Cerraduras digitales
                      </a>
                    </li>
                    <li>
                      <a href="https://www.accesoriosypartes.com.ar/sitio-en-construccion">
                        Administración del personal - Reloj
                      </a>
                    </li>
                    <li>
                      <a href="https://www.accesoriosypartes.com.ar/sitio-en-construccion">
                        Porteros visor y acceso
                      </a>
                    </li>
                    <li>
                      <a href="https://www.accesoriosypartes.com.ar/sitio-en-construccion">
                        Cámaras y CCTV
                      </a>
                    </li>
                  </div>
                  <div class="submenu-img">
                    <div>
                      <%= image_tag("control-de-acceso.jpg") %>
                    </div>
                  </div>
                </ul>
              </li>
              <li class="second-level">
                <a href="https://www.accesoriosypartes.com.ar/marcas-que-representamos">
                  Muebles y sillas
                </a>
              </li>
              <li class="second-level">
                <a href="#">
                  Diseño de interior
                </a>
              </li>
              <li class="second-level">
                <a href="#">
                  Instalaciones
                </a>
              </li>
            </ul>
          </li>
          <li id="service-link" data-hook>
            <a href="#">&nbsp;&nbsp;SERVICIOS&nbsp;&nbsp;</a>
          </li>
          <li id="company-link" class="dropdown" data-hook>
            <a href="#" class="menu3" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              &nbsp;&nbsp;EMPRESA&nbsp;&nbsp;
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-submenu second-level">
                <a href="https://accesoriosypartes.com.ar/quienes-somos/">
                  Quiénes somos?
                </a>
              </li>
              <li class="dropdown-submenu second-level">
                <a href="https://accesoriosypartes.com.ar/faq/">
                  FAQ
                </a>
              </li>
            </ul>
          </li>
          <li id="blog-link" data-hook>
            <a href="#">&nbsp;&nbsp;BLOG&nbsp;&nbsp;</a>
          </li>
          <li id="contact-link" data-hook>
            <a href="https://www.accesoriosypartes.com.ar/contacto">&nbsp;&nbsp;CONTACTO&nbsp;&nbsp;</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="col-md-5">
    <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook>
      <li id="search-bar" data-hook>
        <%= render partial: 'spree/shared/search' %>
      </li>
    </ul>
  </div>
</div>
