<div class="row second-header-container">
  <nav class="col-lg-8 col-md-7 col-sm-8 navbar visible-md visible-lg visible-sm">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
          <span class="sr-only">Menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="navigationbar">
        <ul class="nav navbar-nav nav-main visible-sm visible-md visible-lg desenfoque">
          <li class="dropdown">
            <%= link_to root_path, id: 'navigationbar' do %>
              &nbsp;&nbsp;HOME&nbsp;&nbsp;
            <% end %>
          </li>
          <li class="dropdown" id="catalogue-link">
            <a href="#" class="menu3" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              &nbsp;&nbsp;CATÁLOGO&nbsp;&nbsp;
            </a>
            <ul class="dropdown-menu">
              <% images = ["audio-y-video.jpg", "domotica-y-control-2.jpg", "control-de-acceso.jpg"] %>
              <% main_taxon = Spree::Taxon.find_by(name: "Categorias") %>
              <% unless main_taxon.blank? %>
                <% i = 0 %>
                <% main_taxon.children.map do |t| %>
                  <%= content_tag :li, class: "dropdown-submenu second-level" do %>
                    <% if t.children.empty? %>
                      <%= link_to(t.name, seo_url(t)) %>
                    <% else %>
                      <%= link_to(t.name, seo_url(t)) %>
                      <%= content_tag :ul, class: "dropdown-menu submenu-container" do %>
                        <%= content_tag :div, class: "submenu-links" do %>
                          <% t.children.map do |child_taxon| %>
                            <%= content_tag :li do %>
                              <%= link_to(child_taxon.name, seo_url(child_taxon)) %>
                            <% end %>
                          <% end %>
                        <% end %>
                        <% if i < 3 %>
                          <%= content_tag :div, class: "submenu-img" do %>
                            <%= content_tag :div do %>
                              <%= image_tag(images[i]) %>
                            <% end %>
                          <% end %>
                        <% end %>
                        <% i += 1 %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>

              <!-- <li class="dropdown-submenu second-level"><a href="#">Audio, Video y Multimedia</a>
                <ul class="dropdown-menu submenu-container">
                  <div class="submenu-links">
                    <li>
                      <a href="/t/categorias/new-node/sintoamplificadores-y-potencias">
                        Sintoamplificadores y potencias
                      </a>
                    </li>
                    <li>
                      <a href="/t/categorias/new-node/parlantes">
                        Parlantes
                      </a>
                    </li>
                    <li>
                      <a href="/t/categorias/new-node/microfonos-y-auriculares">
                        Micrófonos y auriculares
                      </a>
                    </li>
                    <li>
                      <a href="/t/categorias/new-node/proyectores-y-pantallas">
                        Proyectores y pantallas
                      </a>
                    </li>
                    <li>
                      <a href="/t/categorias/new-node/multimedia">
                        Multimedia
                      </a>
                    </li>
                    <li>
                      <a href="/t/categorias/new-node/accesorios-a-slash-v">
                        Accesorios A/V
                      </a>
                    </li>
                  </div>
                  <div class="submenu-img">
                    <div> -->
                      <%# image_tag("audio-y-video.jpg") %>
                    <!-- </div>
                  </div>
                </ul>
              </li>
              <li class="dropdown-submenu second-level">
                <a href="#">
                  Domótica y control
                </a>
                <ul class="dropdown-menu submenu-container">
                  <div class="submenu-links">
                    <li>
                      <a href="/t/categorias/domotica-y-control/casas-inteligentes">
                        Casas inteligentes
                      </a>
                    </li>
                    <li>
                      <a href="/t/categorias/domotica-y-control/eficiencia-energetica">
                        Eficiencia energética
                      </a>
                    </li>
                    <li>
                      <a href="/t/categorias/domotica-y-control/limpieza-inteligente-tubo">
                        Limpieza inteligente - Tubó
                      </a>
                    </li>
                    <li>
                      <a href="/t/categorias/domotica-y-control/accesorios">
                        Robótica sanitaria
                      </a>
                    </li>
                  </div>
                  <div class="submenu-img">
                    <div> -->
                      <!--NOT THIS <img src="https://accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/prueba_menu.jpg" alt=""> -->
                      <%# image_tag("domotica-y-control-2.jpg") %>
                    <!-- </div>
                  </div>
                </ul>
              </li>
              <li class="second-level">
                <a href="/t/categorias/limpieza-inteligente">
                  Limpieza Inteligente
                </a>
              </li>
              <li class="dropdown-submenu second-level">
                <a href="#">
                  Control de acceso
                </a>
                <ul class="dropdown-menu submenu-container">
                  <div class="submenu-links">
                    <li>
                      <a href="/t/categorias/control-de-acceso/cerraduras-digitales">
                        Cerraduras digitales
                      </a>
                    </li>
                    <li>
                      <a href="/t/categorias/control-de-acceso/administracion-del-personal-reloj">
                        Administración del personal - Reloj
                      </a>
                    </li>
                    <li>
                      <a href="/t/categorias/control-de-acceso/porteros-visor-y-acceso">
                        Porteros visor y acceso
                      </a>
                    </li>
                    <li>
                      <a href="/t/categorias/control-de-acceso/new-node">
                        Cámaras y CCTV
                      </a>
                    </li>
                  </div>
                  <div class="submenu-img">
                    <div> -->
                      <%# image_tag("control-de-acceso.jpg") %>
                    <!-- </div>
                  </div>
                </ul>
              </li>
              <li class="second-level">
                <a href="/t/categorias/muebles-y-sillas/sillas-y-sillones">
                  Muebles y sillas
                </a>
              </li>
              <li class="second-level">
                <a href="/t/categorias/diseno-de-interior">
                  Diseño de interior
                </a>
              </li>
              <li class="second-level">
                <a href="/t/categorias/instalaciones">
                  Instalaciones
                </a>
              </li> -->
            </ul>
          </li>
          <li id="service-link" data-hook>
            <a href="#">&nbsp;&nbsp;SERVICIOS&nbsp;&nbsp;</a>
          </li>
          <li id="company-link" class="dropdown" data-hook>
            <a href="#" class="menu3" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              &nbsp;&nbsp;EMPRESA&nbsp;&nbsp;
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-submenu second-level">
                <a href="https://accesoriosypartes.com.ar/quienes-somos/">
                  Quiénes somos?
                </a>
              </li>
              <li class="dropdown-submenu second-level">
                <a href="https://accesoriosypartes.com.ar/faq/">
                  FAQ
                </a>
              </li>
            </ul>
          </li>
          <li id="blog-link" data-hook>
            <a href="#">&nbsp;&nbsp;BLOG&nbsp;&nbsp;</a>
          </li>
          <li id="contact-link" data-hook>
            <a href="https://www.accesoriosypartes.com.ar/contacto">&nbsp;&nbsp;CONTACTO&nbsp;&nbsp;</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="col-lg-4 col-md-5 col-sm-4">
    <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook>
      <li id="search-bar" data-hook>
        <%= render partial: 'spree/shared/search' %>
      </li>
    </ul>
  </div>
</div>
