<div id="slider-container" class="carousel slide" data-ride="carousel">
  <ol id="carousel-indicadores" class="carousel-indicators">
    <li data-target="#slider-container" data-slide-to="0" class="active"></li>
    <li data-target="#slider-container" data-slide-to="1"></li>
    <li data-target="#slider-container" data-slide-to="2"></li>
    <li data-target="#slider-container" data-slide-to="3"></li>
    <li data-target="#slider-container" data-slide-to="4"></li>
    <li data-target="#slider-container" data-slide-to="5"></li>
    <li data-target="#slider-container" data-slide-to="6"></li>
    <li data-target="#slider-container" data-slide-to="7"></li>
    <li data-target="#slider-container" data-slide-to="8"></li>
    <li data-target="#slider-container" data-slide-to="9"></li>
    <li data-target="#slider-container" data-slide-to="10"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("1 slider2_archivos-activos") %>
      <div class="carousel-caption">
        <h5>Muebles y Sillas de trabajo</h5>
        <p>
          Diseño, calidad y nuevas tendencias de muebles de trabajo.
        </p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("2 slider2_domus") %>
      <div class="carousel-caption">
        <h5> Domus - La sustentabilidad en hechos</h5>
        <p>
          Automatización sanitaria para espacios públicos
        </p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("3 slider2_flos") %>
      <div class="carousel-caption">
        <h5>Diseño interior - Iluminación FLOS</h5>
        <p> La distinción de una línea diferente</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("4 slider2_i3-technologies") %>
      <div class="carousel-caption">
        <h5>I3 Technologies - Salas de reunión</h5>
        <p>
          Soluciones simples y confiables, en tecnología multimedia.
        </p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("5 slider2_monitor-audio") %>
      <div class="carousel-caption">
        <h5>
          Audio y definición es Monitor Audio
        </h5>
        <p>
          La pureza del sonido en vivo.
        </p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("6 slider2_polycom") %>
      <div class="carousel-caption">
        <h5> Polycom - Comunicaciones sencillas</h5>
        <p> Presente como parte del equipo ofreciendo su talento..</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("7 slider2_riel-americano") %>
      <div class="carousel-caption">
        <h5> Diseño interior - Cortinados</h5>
        <p>Variedad en diseños y formas, para dar sentido a tus espacios</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("8 slider2_samsung-ezon_destello") %>
      <div class="carousel-caption">
        <h5>La seguridad en manos de SAMSUNG</h5>
        <p>
          Cerraduras digitales, porteros visores y mucho más
        </p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("9 slider_tubo") %>
      <div class="carousel-caption">
        <h5>Limpieza inteligente - TUBO</h5>
        <p>
          Fácil, potente y silencioso, al cuidado de la familia.
        </p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("10 slider2_vimar") %>
      <div class="carousel-caption">
        <h5>
          Diseño Italiano - Vimar
        </h5>
        <p>
          La distinción que usted busca para su casa.
        </p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("10 slider2_yamaha") %>
      <div class="carousel-caption">
        <h5>
          Audio multiroom con YAMAHA
        </h5>
        <p>
          La compañía de sonido, presente en tu hogar.
        </p>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <!-- <a class="left carousel-control" href="#slider-container" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#slider-container" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->
</div>
